thead{
    color : black;
    background-color: #cccccc;
}

.panel-default .panel-heading {
    color: white;
    background-color: dimgrey;
    background-image: none;
}

.panel-body {
    padding: 0;
}


/* for some reason, perhaps because I'm not using MD correctly, the icons are really wide. */
.material-icons {
    width: 30px;
}