thead{
    color : black;
    background-color: #cccccc;
}

.panel-default .panel-heading {
    color: white;
    background-color: dimgrey;
    background-image: none;
}

.panel-body {
    padding: 0;
}